<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FutalaLake.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C39FC4EC71CDE1D5DA1D7F77AC35695ECB4F8F7D</string>
				<key>dateExpires</key>
				<string>01/12/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8LTN4Q26AJ.test.FutalaLake</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8LTN4Q26AJ</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>FutalaLake.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d6b12e03-1726-424f-ad06-d1dfa09b8f54</string>
				<key>dateExpires</key>
				<string>28/03/24</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8LTN4Q26AJ</string>
				<key>name</key>
				<string>Maharashtra Metro Rail Corp Ltd</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
